body {
  width: 100vw;
  height: 100vh;
  background-image: url(/progetto/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#img-logo {
  max-width: 275px;
  max-height: 60px;
  margin-top: 50px;
  margin-left: 120px;
}

#cont-Domande {
  border: 1px solid wheat;
  width: 900px;
  height: 500px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  margin-top: 40px;
  text-align: center;
}

#orologio {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  position: relative;
  top: -110px;
  right: -598px;
  color: white;
  display: inline-block;
  line-height: 15px;
  font-size: 3rem;
}
#h6_1 {
  font-size: 0.7rem;
  color: white;
  position: absolute;
  top: -140px;
  right: -600px;
}
#h6_2 {
  font-size: 0.7rem;
  color: white;
  position: absolute;
  top: -70px;
  right: -612px;
}

svg {
  position: absolute;
  top: -165px;
  right: -650px;
  width: 140px;
  height: 140px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 376.4px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 376.4px;
  }
}
